@tailwind base;
@tailwind components;
@tailwind utilities;
/* https://github.com/programming-hero-web-course-4/b10a8-gadget-heaven-shafriki */

.active-link {
    font-weight: bold; 
    color: orange;

}
/* * {
    border: 1px solid red;
} */
